.custom-btn {
  width: 100%;
  background-color: $primary-orange;
  color: #fff;
  padding: 13px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $light-orange;
  }

  @media (min-width: $screen-xl-max) {
    max-width: 328px;
  }

  &:disabled {
    background-color: $dark-grey;
  }
}