// colors
$background: #1E1E1E;
$black: #101313;
$white: #FFFFFF;
$primary-orange: #FA6400;
$light-orange: #FF7E28;
$green: #040D06;
$dark-grey: #666666;
$fill-blue: #6cc0e5;

$background: #1E1E1E;
$black: #101313;
$white: #FFFFFF;
$red: #0D0404;
$blue: #04090D;
$light-blue: #2B8CE5;
$light-grey: #FAFAFA;
$dark-grey: #666666;

$light-red: #FFF2F2;
$light-green: #F2FFF5;
$light-blue: #F2F9FF;

$dark-red: #0D0404;
$dark-green: #040D06;
$dark-blue: #04090D;

$text-dark-red: #471515;
$text-dark-green: #14401D;
$text-dark-blue: #153047;



// fonts
$roboto: 'Roboto Flex';

$container-max-width: 1440px;

// screens
$screen-xl-max: 1439px;
$screen-md-max: 1024px;
$screen-sm-max: 768px;
$screen-xs-max: 480px;